@model IEnumerable<KnapSack.Models.Sac>
@{
    ViewBag.Title = "Sac à dos";
    var currentUser = KnapSack.Models.OnlinePlayers.GetSessionUser();
}

<h2>Sac à dos</h2>

@foreach (var item in Model)
{
    if (item.idJoueur == currentUser.idJoueur)
    {
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a class="thumbnail">
                    <img class="img-responsive" src="@item.Item.urlImage" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <h4>@Html.DisplayFor(_ => item.Item.nom)</h4>
                <p>@Html.DisplayFor(_ => item.Item.description)</p>
            </div>
            <div class="col-md-2 col-xs-2">
                <p>@Html.DisplayFor(_ => item.Item.qte)</p>
            </div>
        </div>
    }
}

@Html.ActionLink("Retour", "Index", "Items")

