@model KnapSack.Models.Item
@{ ViewBag.Title = "Details"; }

<div id="ItemDetailsContainer"> <!-- Periodically refreshed --> </div>
@section Scripts {
    @Scripts.Render("~/bundles/ratings")
	@Scripts.Render("~/bundles/partialRefresh")
<script defer>
	let partialRefresh =
        new PartialRefresh("@Url.Action("GetItemDetails", new { itemId = (int)Model.idItem })", "ItemDetailsContainer", 5, PostRefreshTasks);
	function PostRefreshTasks() {
		InstallRating();
		$("#currentUserRatingForm").hide();
		$("#commandSection").show();
		$("#AddModifyCurrentUserRating").click(function () {
			$("#currentUserRatingForm").show();
			$("#commandSection").hide();
			$("#PhotoRatingsContainer").scrollTop(0);
			partialRefresh.pause();
		});
		$("#updateCurrentUserRating").click(function () {
			let rating = $("input[name=ratingCurrentUser").val();
			let comment = $("#commentCurrentUser").val();
			let url =
				@Url.Action("/") + "UpdateCurrentUserRating?itemId=" + "@((int)Model.idItem)" + "&rating=" + rating + "&comment=" + comment;
		partialRefresh.command(url);
		partialRefresh.restart();
		$("#currentUserRatingForm").hide();
		$("#commandSection").show();
		})
		$("#cancelCurrentUserRating").click(function () {
			partialRefresh.restart();
			$("#currentUserRatingForm").hide();
			$("#commandSection").show();
		})
		$(".sortRatings").click(function () {
			$(".sortRatings").css("color", "black");
			let url = @Url.Action("/") + "SortRatingsBy?fieldToSort=" + $(this).attr("fieldToSort");
			partialRefresh.command(url);
		})
		$("#removeRating").click(function () {
			let url =
			@Url.Action("/") + "RemoveRating?itemId=" + "@((int)Model.idItem)" + "&playerId=" + $("#ratingPlayerId").val();
			partialRefresh.command(url);
			partialRefresh.restart();
		});

	}
</script>
}
