@model IEnumerable<KnapSack.Models.Item>

@{
    ViewBag.Title = "Boutique";

}

<h2>Boutique</h2>

<div class="container">
    <div class="row">

        <div id="filters_container" class="col-md-4 col-lg-2">
            <!-- Seach query parameters -->

            <fieldset id="filtersFieldSet" style="text-align: right;">
                <legend>Parametre de recherche</legend>

                @if (ViewBag.TypesItems is null)
                {
                    // check if TypesItems is valid, if not, display an error message
                    <div class="row">
                        <h6 class="text-danger">Impossible de faire le rendu du filtrage!</h6>
                    </div>
                }
                else
                {
                    // go through every entries inside ViewBag.TypesItems
                    foreach (KnapSack.Models.TypesItem type in ViewBag.TypesItems)
                    {
                        <div class="row">
                            <label for="@type.nomType">@type.nomType</label>
                            <input type="checkbox" id="@type.nomType" value="@type.idType" />
                        </div>
                    }

                    <br />

                    <div class="row">
                        <button onclick="updateFilters('#filtersFieldSet', '#items-container', '@Url.Action("GetItemsGrid", "Items", null, Request.Url.Scheme)')" class="btn btn-primary">Filtrer</button>
                    </div>
                }

            </fieldset>

        </div>

        <hr />

        <div id="items-container" class="col-md-8 col-lg-10">
            <!-- This is where the Items will be rendered -->

            <h2 style="text-align: center;" class="text-info">Loading items...</h2>
        </div>

    </div>
</div>

@section Scripts {
    <script defer>
        updateFilters('#filtersFieldSet', '#items-container', '@Url.Action("GetItemsGrid", "Items", null, Request.Url.Scheme)');
    </script>
}