@model IEnumerable<KnapSack.Models.Panier>

@{
    ViewBag.Title = "Panier";
    var Url = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
    var link = Url.Action("BuyCart", "Paniers");
}

<h2>Cout totale: @ViewBag.totale</h2>

<h2>Panier</h2>


<table class="table">
    <tr>
        <text>Panier de @KnapSack.Models.OnlinePlayers.GetSessionUser().alias.ToString()</text>
    </tr>
    <tr>
        <th>
            <text>Image</text>
        </th>
        <th>
            <text>Nom</text>
        </th>
        <th>
            <text>Quantité</text>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var urlImage = item.Item.urlImage;
        <tr>
            <td>
                <img class="img-responsive" src="@urlImage"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.nom)
            </td>
            <td>
                <div><button onclick="">+</button></div> <div>@Html.DisplayFor(modelItem => item.qteItem)</div> <div><button onclick="">-</button></div>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.idItem })
            </td>
        </tr>
    }

</table>
<a href="@link">    
    Acheter
</a>